@font-face {
    font-family: 'Bebas Neue Bold';
    src: url('../font/BebasNeueBold.woff') format('woff');
}
@font-face {
    font-family: 'Museo Sans 300 Light';
    src: url('../font/MuseoSansCyrl-300.woff') format('woff');
}
@font-face {
    font-family: 'Museo Sans 700 Bold';
    src: url('../font/MuseoSansCyrl-700.woff') format('woff');
}


body {
    font-family: 'Museo Sans 300 Light';
    font-size: 18px;
    line-height: 1.5;
    color: #303030;
}
h1 {
    font-family: 'Bebas Neue Bold';
    font-size: 80px; 
    margin-bottom: 11px;
    margin-top: 90px;
    line-height: 1;
}
h2 {
    font-family: 'Bebas Neue Bold';
    color: #FF3754;
    font-size: 70px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 80px;
    line-height: 1;
}
.header-content p{
    font-family: 'Museo Sans 700 Bold';
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    display: block;
}
.header-content__ul {
    list-style: none;
    font-family: 'Museo Sans 700 Bold';
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    margin-bottom: 100px;
}
.header-content__ul li {
    margin-bottom: 40px;
    position: relative;
    padding-left: 148px;
}
.header-content__ul li:last-child{
    margin-bottom: 0;
}
.header-content__ul li::after {
    content: '';
    position: absolute;
    left: 0;
    top: -21px;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}
.header-content__ul li:nth-child(1)::after{
    top: -16px;
    background-image: url(../img/004-award.svg);
}
.header-content__ul li:nth-child(2)::after{
    background-image: url(../img/002-award.svg);
}
.header-content__ul li:nth-child(3)::after{
    background-image: url(../img/medal1.svg);
}
.header-content__ul li:nth-child(4)::after{
    background-image: url(../img/002-award.svg);
}
.header-content__ul li::before {
    content: '';
    position: absolute;
    left: 70px;
    top: 6px;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
}
.header-content__ul li:nth-child(1)::before{
    top: 10px;
    background-image: url(../img/003-worldwide.svg);
}
.header-content__ul li:nth-child(2)::before{
    background-image: url(../img/001-european-union.svg);
}
.header-content__ul li:nth-child(3)::before{
    background-image: url(../img/001-european-union.svg);
}
.header-content__ul li:nth-child(4)::before{
    background-image: url(../img/002-russia.svg);
}
.header-content__li {
    margin-bottom: 40px;
}
.header-content__li:last-child{
    margin-bottom: 0;
}
.btn-pink{
    font-family: 'Museo Sans 300 Light';
    background-color: #FF3754;
    border: none;
    color: #fff;
    font-size: 19px;
    line-height: 100%;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 4px;
    padding: 15px;
}
.btn-header {
    width: 412px;
    height: 62px;
}

.header-content__li__pink{
    font-size: 36px;
    background-color: #FF3754;
    padding: 3px 10px;
    border-radius: 4px;
}
.header-content__pink{
    color: #FF3754;
}
.page-header {
    background-image: url(../img/00.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: white;
    left: 0;
    top: 0;
    z-index: 1;
    height: 960px;
}
.wrap {
    position: relative;
    margin: 0px auto;
    max-width: 1740px;
    width: 100%;
    padding: 80px 0;
}
.page-header__top {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    align-items: center;
    z-index: 3;
    left: 0px;
    top: 0px;
    width: calc(100% - 160px);
    padding: 0 80px;
    margin: 0 auto;
}
.page-header__top.animate {
    animation: bounce 0.6s;
}

.page-header__top__link ul {
    list-style: none;
    margin-top: 60px;
    margin-bottom: 0;
    padding: 0;
}
.page-header__top__link ul li {
    margin-top: 50px;
}
.page-header__top__phone {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 24px;
    font-family: 'Museo Sans 700 Bold';
}
 .page-header__top__phone a {
    margin-left: 24px;
    line-height: 0;
    display: block;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.page-header__top.active .page-header__top__phone a {
    color: #000;
}
.page-header__top__social {
    margin-left: 41px;
}

.page-header__top__social__vkontakte {
    margin-left: 28px; 
}
.page-header__top__menu {
    margin-left: 54px;
}
.page-header__top__logo {
    height: 110px;
    display: flex;
    align-items: center;
}

.page-header__top__link {
    font-family: 'Museo Sans 700 Bold';
    font-size: 50px;
    display: flex;
    justify-content: center;
}
.page-header__top__link a {
    color: #303030;
    text-decoration: none;
}

.page-header__top__link {
    display: none;
    width: 100%;
    height: 100%;
}
.page-header__top__link.active {
    display: flex;
}
.page-header__white {
    display: none;
    width: 100%;
    height: 110px;
    position: fixed;
    z-index: 2;
    transition: 0.3s;
    background-color: #fff;
}
.page-header__white.animate {
    animation: bounce 0.6s;
}
.page-header__white.active{
    display: block;
}
.page-header__blur {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    z-index: 1;
    backdrop-filter: blur(40px);
    transition: 0.3s;
    /* animation: bounce 0.6s; */
}

.page-header__blur.active{
    display: block;
}
.page-header__top.active .page-header__top__logo svg {
    fill: #000;
}
.header-content {
    padding-top: 110px;
}

.page-header__top__menu {
    background: none;
    color: #ccc;
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0;
    width: 50px;
    height: 50px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    box-shadow: none;
    border: none;
    border-radius: none;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}
.page-header__top__menu:focus{
    outline: none;
}
.page-header__top__menu span {
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
  }

  .page-header__top__menu span::before, .page-header__top__menu span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    content: "";
    transition-duration: 0.3s;
    transition-delay:  0s;
  }
  .page-header__top__menu span::before {
    top: -7px;
  }
  .page-header__top__menu span::after {
    bottom: -7px;
  }
  .page-header__top__menu.active span::before {
    top: -1px;
    transform: rotate(45deg);
    background-color: #000;
  }
  .page-header__top__menu.active span::after {
    bottom: -1px;
    transform: rotate(-45deg);
    background-color: #000;
  }
  .page-header__top.active .page-header__top__menu span::before,
  .page-header__top.active .page-header__top__menu span::after {
    background-color: #000;
  }
  @keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }
    100% {
        transform: translateY(0);
    }
}
.slider__content {
    padding: 0;
}
.slider__wrap__left__text{
    font-family: 'Museo Sans 300 Light';
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 13px;
    display: block;
    margin-top: 20px;
}
.slider__wrap__left__pink {
    line-height: 1;
    color: #FF3754;
    font-size: 70px;
    display: block;
    font-family: 'Bebas Neue Bold';
}
.slider__wrap__left__grey {
    line-height: 1;
    color: #888888;
    font-size: 40px;
    display: block;
    font-family: 'Bebas Neue Bold';
    margin-top: 10px;
}
.slider__wrap {
    max-width: 1440px;
    margin: 0px auto;
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}
.slider__wrap__left__btn {
    display: none;
}
.slider__wrap__left {
    width: 50%;
}
.slider__wrap__right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.slider__wrap__right img {
    align-self: center;
}
.slider__pink {
    position: absolute;
    background-color: #FF3754;
    width: 30px;
    height: 100%;
}
.slider__pink::after{
    content: '';
    position: absolute;
    background-color: #FF3754;
    width: 52px;
    height: 30px;
}
.slider__pink::before {
    content: '';
    position: absolute;
    background-color: #FF3754;
    width: 52px;
    height: 30px;
}
.slider__pink__left {
    left: 0;
}
.slider__pink__left::before{
    top: 0;
    left: 1px;
}
.slider__pink__left::after{
    bottom: 0;
    left: 1px;
}
.slider__pink__right {
    right: 0;
}
.slider__pink__right::before{
    top: 0;
    right: 1px;
}
.slider__pink__right::after{
    bottom: 0;
    right: 1px;
}
.slider__wrap__left__list {
    list-style: none;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 0;
}
.slider__wrap__left__list li{
    position: relative;
    padding-left: 40px;
    margin-bottom: 10px;
}
.slider__wrap__left__list li::before{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 3px;
    background-color: #FF3754;
    position: absolute;
    left: 0;
    top: 9px;
}
.slider__wrap__left__heading{
    margin-bottom: 3px;
    margin-top: 30px;
    font-family: 'Museo Sans 700 Bold';
    display: block;
}
.slider__wrap__left p{
    margin: 0;
}
.slider__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.slider__nav__btn{
    background: none;
    color: #ccc;
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0;
    width: 30px;
    height: 30px;
    font-size: 0;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    box-shadow: none;
    border: none;
    border-radius: none;
    cursor: pointer;
}
.slider__nav__btn svg:hover{
    fill: #FF3754;
}
.slider__nav span {
    font-family: 'Museo Sans 700 Bold';
    margin: 0 40px;
}
.clients{
    background: linear-gradient(#FDF4F4, #ECF3EC);
}
.clients__years {
    display: none;
}
.clients__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.clients__list img {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}
.clients__list div{
    width: 24%;
    margin-bottom: 40px;
}
.clients__list img {
    max-width: 100%;
    height: auto;
}
.clients__list span{
    display: block;
    margin-top: 20px;
    font-family: 'Museo Sans 700 Bold';
}
.footerwrap {
    padding: 0;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}